body {
  margin: 0;
  font-family: 'Work Sans', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  height: 100%;
  padding: 8%;
}

.body-container {
  padding: 0 !important;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  color: rgb(85, 85, 85);
  width: max-content;
}

.title-number {
  color: rgb(204, 204, 204);
  margin-bottom: 20px;
  font-weight: 600;
}

.color {
  color: rgb(36, 36, 36);
}

a {
  text-decoration: none !important;
  color: #686868;
  border-color: rgb(104, 104, 104) !important;
}

p {
  font-size: 16px;
  white-space: pre-line;  
  vertical-align: bottom;
}

.bigger {
  font-size: 18px;
}

.smaller {
  font-size: 16px;
  font-family: 'Times New Roman';
  color: rgb(97, 97, 97);
}

.smaller-sub {
  font-size: 14px;
  color: rgb(139, 139, 139);
  font-weight: 500;
}

.margin-bottom {
  margin-bottom: 20px;
}


li {
  list-style: none;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
}

a:hover {
  color: rgb(70, 69, 69);
}

/* buttons */ 

.btn {
  padding: 10px 30px;
  min-width: max-content;
  max-width: 300px;
  text-align: right;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400 !important;
  color: rgb(54, 54, 54);
  background-color: transparent;
  border-color: rgb(184, 184, 184);
  transition: ease-in 0.2s;
  letter-spacing: 0.1em;
  border-radius: 0 !important;
}

.btn:hover { 
  background-color: #303030 !important;
  border-color: #303030 !important;
  color: #fff;
}

.btn-dark:hover {
  background-color: #000;
}

.btn-light:hover {
  background-color: rgb(235, 235, 235);
}

.btn-project {
  width: max-content;
  position: relative;
  padding-left: 20px;
}


.btn-about {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}

.btn-about.cv {
  padding-left:30px;
}


.btn-project-readmore {
  background-color: #2b2b2b !important;
  border-color: #2b2b2b !important;
  color: rgb(255, 255, 255);
}

.btn-project-readmore:hover {
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
  color: rgb(255, 255, 255);
}


.project-btn {
  margin-bottom:80px;
}

/* images */ 

img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 !important;
}


.img-color {
  filter: grayscale(0%) !important;
}

.border-radius {
  border-radius: 5px;
}

/* Header */ 

.header {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100vw;
  color: rgb(65, 65, 65);
}

.header-content {
  max-width: 600px;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}

.header-content:first-letter {
  text-transform: capitalize;
}

.header-content p {
  font-size: 14px;
}

.header-title {
  font-weight: 600;
  font-size:calc(22px + 1.0vw);
}

/* Prewords */

.prewords-image:hover {
  filter: grayscale(0%);
}

.prewords {
  background-color: #f5f5f5;
  margin-top: -80px;
  padding: 50px 0;
}
.prewords a {
  width: max-content;
  margin: 0 auto;
}


/* About */ 

.about {
  background-color: #fafafa;
  width: 100vw;
  height: auto;
  color: #333;
  padding-bottom: 40px;
}

.about-col.right{
  padding-left: 100px;
}


.about-image {
  position: relative;
  margin-bottom: 40px;
  filter: grayscale(0%);
}


/* projects */ 

.projects {
  background-color: #ffffff;
}

.project {
  height: auto;
  position: relative;
}

.project p {
  margin-bottom: 30px;
}

/* transition for hover effect */ 
.work {
  transition: transform .25s ease;
  position: relative;
  padding: 0 !important;
}

/* hover effects */ 
.work.hover{
  transform: scale(1.03);
  filter: grayscale(0%);
}

.project-figure-img {
  padding: 50px 30px;
}




figure.work img, 
figure.work video {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.project-headtitle a {
  color: rgb(46, 46, 46) !important;
}

.project-title {
  font-size:calc(16px + 1.0vw);
  font-weight: 600;
  color: rgb(65, 65, 65);
  margin-top: 20px;
  text-transform: capitalize;
}

.project-title:first-letter {
  text-transform: uppercase;
}


.project-tool {
  background-color: #f1f1f1;
  color: #696969;
  margin: 10px 10px 0 0;
  padding: 8px 12px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  cursor: default !important;
}



/* contact */ 


.contact h1 {
  font-size: 50px;
  padding-bottom: 5px;
  width: max-content;
  margin: 0 auto;
  cursor: pointer;
}


.contact-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.contact-text {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4em;
}

.contact-info {
  padding: 20px;
}

.contact-icon {
  font-size: 25px;
  margin-bottom: 5px;
}



.contact-mail-adress {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  padding-bottom:2px;
}

.contact-mail-adress {
  text-decoration: none;
  background-image: linear-gradient(#ffffffe6, #ffffffe6);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
  border-radius: 2px;
  }
  .contact-mail-adress:hover,
  .contact-mail-adress:focus,
  .contact-mail-adress:active {
  background-size: 100% 0.1em;
  background-position-x: 0%;
  }

.contact-mail-adress:hover {
  color: rgba(255, 255, 255, 1);
}

/* copyright */ 

.contact {
  width: 100%;
  text-align: center;
  background-color:#fff;
  padding: 40px 0;
}

.contact-copyright {
  color: rgba(2, 2, 2, 0.404) !important;
  font-size: 12px !important;
}

.copyright p {
  font-size: 12px;
  color: rgb(139, 139, 139);
  margin-top: 20px;
}





/* icons */ 

.btn-icon {
  font-size: 18px;
  margin: 0 5px;
  position: relative;
  top: -1px;
}

.sm-circle {
  display: inline-block;
  margin: 10px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgb(184, 184, 184);
}

.sm-circle:hover {
  background-color: #303030;
  border-color: #303030;
}


.sm-icon,
.sm-icon a {
  display: inline-block;
  font-size: 10px;
  position: relative;
  color: rgba(2, 2, 2, 0.404) !important;
  margin: 0 2px;
  font-weight: 600;
}

.sm-icon:hover,
.sm-icon a:hover {
  color: rgba(2, 2, 2, 0.5) !important;
}

.sm-circle:hover .sm-icon,
.sm-circle:hover .sm-icon a {
  color: #fff !important;
}






/* project read more */ 

.project-readmore {
  padding: 0;
  background-color: #fff;
}

.project-readmore-header {
  padding: 80px;
}

.project-readmore-header-content {
  padding: 5%;
}

.project-readmore-figure {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
}

.readmore-container {
  padding: 20px;
  margin-bottom: 10px;
}

.project-readmore-title {
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  margin-bottom: 40px;
  display: inline;
}

.project-readmore-title > span {
  box-decoration-break: clone;
}

.project-readmore-undertitle {
  font-size: 24px;
  font-weight: 400;
}

.project-readmore h2 {
  font-size: 30px;
  font-weight: 600;
}

.project-readmore h3 {
  font-size: 20px;
  font-weight: 600;
  color: #555;
}

.project-readmore-text {
  color: #666;
  font-weight: 400;
  margin: 0;
}

.project-readmore-details {
  margin-bottom: 30px;
}

.project-readmore-intro {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {

  .project-readmore-figure {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
  }

  .project-readmore-intro {
    margin-bottom: 40px;
  }
}
