body {
  margin: 0;
  font-family: 'Nunito', 'Work Sans', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  height: 100%;
  padding: 8%;
}

.body-container {
  padding: 0 !important;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 800;
  color: rgb(85, 85, 85);
  width: max-content;
}

.title-number {
  color: rgb(204, 204, 204);
  margin-bottom: 20px;
  font-weight: 600;
}

.color {
  color: rgb(36, 36, 36);
}

a {
  text-decoration: none !important;
  color: rgb(104, 104, 104);
  border-color: rgb(104, 104, 104) !important;
}

p {
  font-size: 16px;
}


li {
  list-style: none;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
}

a:hover {
  color: grey;
}

/* buttons */ 

.btn {
  padding: 10px 30px;
  min-width: max-content;
  max-width: 300px;
  text-align: right;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400 !important;
  color: rgb(54, 54, 54);
  background-color: transparent;
  border-color: rgb(184, 184, 184);
  transition: ease-in 0.2s;
  letter-spacing: 0.1em;
  border-radius: 0 !important;
}

.btn:hover { 
  background-color: #303030 !important;
  border-color: #303030 !important;
  color: #fff;
}

.btn-dark:hover {
  background-color: #000;
}

.btn-light:hover {
  background-color: rgb(235, 235, 235);
}

.btn-project {
  width: max-content;
  position: relative;
  padding-left: 20px;
}


.btn-about {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}

.btn-about.cv {
  padding-left:30px;
}


.btn-project-readmore {
  background-color: #2b2b2b !important;
  border-color: #2b2b2b !important;
  color: rgb(255, 255, 255);
}

.btn-project-readmore:hover {
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
  color: rgb(255, 255, 255);
}


.project-btn {
  margin-bottom:80px;
}

/* images */ 

img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 !important;
}


.img-color {
  filter: grayscale(0%) !important;
}

.border-radius {
  border-radius: 5px;
}

/* Header */ 

.header {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100vw;
  color: rgb(65, 65, 65);
}

.header-content {
  max-width: 800px;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}

.header-content:first-letter {
  text-transform: capitalize;
}

.header-title {
  font-weight: 800;
  font-size: 50px;
}

/* Prewords */

.prewords-image:hover {
  filter: grayscale(0%);
}

.prewords {
  background-color: #f5f5f5;
  margin-top: -80px;
  padding: 50px 0;
}
.prewords a {
  width: max-content;
  margin: 0 auto;
}


/* About */ 

.about {
  background-color: #fafafa;
  width: 100vw;
  height: auto;
  color: #333;
  padding-bottom: 40px;
}

.about-col.right{
  padding-left: 100px;
}


.about-image {
  position: relative;
  margin-bottom: 40px;
  filter: grayscale(0%);
}


/* progress bars */ 

.progress-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.progress-content {
  margin-bottom: 10px;
}

.progress {
  width: 100%;
  height: 20px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  margin: 0 auto;
}

.progress-done {
  box-shadow: 0 3px 3px -5px #ededed;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#5c5c5c;
  border-radius: 10px;
  position: relative;
  opacity: 0;
  width: 0;
  transition: 300ms;
}

.progress-done span {
  position: absolute;
  top: 0px;
  right: 10px;
  font-weight: 800;
  color: #fff !important;
}

.progress-skill {
  font-size: 12px;
  margin: 0!important;
}

/* projects */ 

.projects {
  background-color: #ffffff;
}

.project {
  height: auto;
  position: relative;
}

.project p {
  margin-bottom: 30px;
}


/* transition for hover effect */ 
.work {
  transition: transform .25s ease;
  position: relative;
  padding: 0 !important;
}

/* hover effects */ 
.work.hover{
  transform: scale(1.03);
  filter: grayscale(0%);
}

.project figure {
  padding:20px;
}




figure.work img, 
figure.work video {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.project-headtitle a {
  color: rgb(46, 46, 46) !important;
}

.project-title {
  font-size:calc(20px + 1.0vw);
  font-weight: 800;
  color: rgb(65, 65, 65);
  margin-top: 20px;
}

.project-title:first-letter {
  text-transform: uppercase;
}


.project-tool {
  background-color: #f1f1f1;
  color: rgb(105, 105, 105);
  margin: 10px 10px 0 0;
  padding: 8px 12px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  cursor: default !important;
}



/* contact */ 

.contact {
  background-color: #242424;
  height: auto;
  padding: 50px 0;
}

.contact h1 {
  font-size: 50px;
  padding-bottom: 5px;
  width: max-content;
  margin: 0 auto;
  cursor: pointer;
}


.contact-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.contact-text {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4em;
}



.contact-mail-adress {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  padding-bottom:2px;
}

.contact-mail-adress {
  text-decoration: none;
  background-image: linear-gradient(#ffffffe6, #ffffffe6);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
  border-radius: 2px;
  }
  .contact-mail-adress:hover,
  .contact-mail-adress:focus,
  .contact-mail-adress:active {
  background-size: 100% 0.1em;
  background-position-x: 0%;
  }

.contact-mail-adress:hover {
  color: rgba(255, 255, 255, 1);
}

/* copyright */ 

.copyright {
  width: 100%;
  text-align: center;
  background-color:#fff;
  padding-top: 20px;
}

.contact-copyright {
  color: rgba(2, 2, 2, 0.404) !important;
  font-size: 12px !important;
}





/* icons */ 

.btn-icon {
  font-size: 18px;
  margin: 0 5px;
  position: relative;
  top: -1px;
}

.sm-circle {
  display: inline-block;
  margin: 10px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgb(184, 184, 184);
}

.sm-circle:hover {
  background-color: #303030;
  border-color: #303030;
}


.sm-icon,
.sm-icon a {
  display: inline-block;
  font-size: 10px;
  position: relative;
  color: rgba(2, 2, 2, 0.404) !important;
  margin: 0 2px;
  font-weight: 600;
}

.sm-icon:hover,
.sm-icon a:hover {
  color: rgba(2, 2, 2, 0.5) !important;
}

.sm-circle:hover .sm-icon,
.sm-circle:hover .sm-icon a {
  color: #fff !important;
}






/* project read more */ 

.project-readmore {
  padding: 0;
  background-color: #fff;
}

.project-readmore-mockup {
  background-color: #f5f5f5;
}

.project-readmore-col {
  padding: 0;
}

.project-readmore-header-content {
  padding: 15%;
}

.project-readmore-figure {
  margin: 0;
}

.project-readmore-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.project-readmore-undertitle {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.project-readmore-subtitle {
  font-size: 18px;
  text-transform: uppercase;
}

.project-readmore-text {
  color: rgb(128, 128, 128);
  margin-bottom: 40px;
}

.project-readmore-text.intro {
  margin-bottom: 0px;
}

