.navbar {
  padding: 0 !important;
  height: 120px !important;
  background-color: #fff;
}

.sidebar-links {
  position: relative;
  top: 30vh !important;
}

.sidebar-links .nav-text {
  margin: 20px;
  font-size: 24px;
}

.nav-text,
.nav-text a,
.nav-link,
.nav-link a {
  color: rgb(231, 230, 230);
}

.nav-text:hover,
.nav-text a:hover,
.nav-link:hover,
.nav-link a:hover {
  color: rgb(255, 255, 255);
}

.nav-links {
  position: relative;
  top: 10px;
  display: none;
}

.nav-links.show {
  display: block;
}

.nav-links .nav-link {
  cursor: pointer;
  transition: 350ms;
  display: inline-block;
}


.navbar-brand {
  position: relative;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.navbar-brand a {
  color: rgb(75, 75, 75) !important;
}

.navbar-menu {
  display: none;
}

.navbar-menu.show {
  display: block;
  position: relative;
  top: -20px;
}


.nav-menu-wrap {
  position: fixed;
  z-index: 9;
  background-color: rgba(36, 36, 36, 0.95);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 0;
  height: 100vh;
  font-size: 1.5em;
  top: 0px;
  right: 0px;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.nav-menu-wrap.open {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  -moz-border-bottom-left-radius:0;
  border-bottom-left-radius: 0;
  -webkit-animation: anim-jelly 0.8s linear forwards;
  animation: anim-jelly 0.8s linear forwards;
  box-shadow:0 0 0 10000px rgba(0,0,0,.30);
}

.nav-menu {
  height: 100%;
  opacity: 0;
  text-align: center;
}

.nav-menu.open {
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}

.nav-menu-items {
  list-style: none;
  font-size: 24px;
  letter-spacing: 2px;
  padding-top: 90px;
  color: #fff;
}

.nav-text {
  padding: 10px 0;
  cursor: pointer;
}


.nav-text a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.nav-text a:hover:after { 
  width: 100%; 
  left: 0; 
}

.sidebar-btn {
    width: 40px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 850ms;
    z-index: 10;
    color: rgb(0, 0, 0);
  }

/* menu burger */ 
.sidebar-burger {
    width: 22px;
    height: 2px;
    background: rgb(58, 58, 58);
    border-radius: 5px;
    transition: all .1s ease-in-out;
  }
  
  .sidebar-burger::before,
  .sidebar-burger::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background:rgb(58, 58, 58);
    border-radius: 5px;
    transition: all .3s ease-in-out;
    z-index: 99999;
  }
  
  .sidebar-burger::before {
    transform: translateY(-7.5px);
  }
  
  .sidebar-burger::after {
    transform: translateY(7.5px);
  }
  
  /* transform menu burger to exit */
  .sidebar-btn.is-active .sidebar-burger {
    background: transparent;
  }
  
  .sidebar-btn.is-active .sidebar-burger::before {
    transform: rotate(-135deg);
    background: #fff;
  }
  
  .sidebar-btn.is-active .sidebar-burger::after {
    transform: rotate(135deg);
    background: #fff;
  }