@media screen and (max-width: 768px) {

    .nav-menu-wrap.open {
      width: 400px;
      height: 400px;
      -moz-border-bottom-left-radius: 400px;
      border-bottom-left-radius: 400px;
      -webkit-animation: anim-jelly 0.8s linear forwards;
      animation: anim-jelly 0.8s linear forwards;
    }

    .nav-menu-items {
      padding-top: 60px;
    }

    .about-col.right{
      padding-left: 0;
    }

  }



